name: opensearch
instance_groups:
- name: opensearch_manager
  azs:
  - z1
  instances: 1
  jobs:
  - name: bpm
    release: bpm
  - name: opensearch
    consumes: &consumes-opensearch-manager
      opensearch:
        from: opensearch_manager
        ip_addresses: true
    provides:
      opensearch:
        as: opensearch_manager
    properties:
      opensearch:
        clustername: opensearch
        limits:
          fd: 131072 # 2 ** 17
        node:
          allow_cluster_manager: true
          allow_data: false
        http:
          ssl:
            ca: ((opensearch_node.ca))
            certificate: ((opensearch_node.certificate))
            private_key: ((opensearch_node.private_key))
        http_host: 127.0.0.1
        jvm_options:
          - "-Dlog4j2.formatMsgNoLookups=true"
    release: opensearch
  persistent_disk: 10240
  stemcell: default
  vm_type: t3.large
  networks:
   - name: services
- name: opensearch_data
  instances: 3
  jobs:
  - name: bpm
    release: bpm
  - name: opensearch
    release: opensearch
    consumes: *consumes-opensearch-manager
    properties:
      opensearch:
        node:
          allow_cluster_manager: false
          allow_data: true
        limits:
          fd: 131072  # 2 ** 17
        health:
          timeout: 900
          disable_post_start: true
        recovery:
          delay_allocation_restart: "15m"
        config_options:
          indices.query.bool.max_clause_count: 2048
        jvm_options:
          - "-Dlog4j2.formatMsgNoLookups=true"
  persistent_disk: 10240
  stemcell: default
  azs: [z1]
  vm_type: t3.large
  networks:
  - name: services
  update:
    max_in_flight: 1 # Only update 1 data node at a time or risk downtime
  env:
    bosh:
      swap_size: 0
- name: opensearch_dashboards
  azs:
  - z1
  instances: 1
  jobs:
  - name: bpm
    release: bpm
  - name: opensearch
    release: opensearch
    consumes: *consumes-opensearch-manager
  - name: opensearch_dashboards
    consumes: *consumes-opensearch-manager
    properties:
      opensearch_dashboards:
        config_options:
          server.maxPayloadBytes: 4194304
        console.enabled: false
        defaultappid: dashboard/App-Overview
        env:
        - NODE_ENV: production
        health:
          timeout: 600
        memory_limit: 75
    provides:
      opensearch-dashboard:
        as: opensearch_link
    release: opensearch
  - name: route_registrar
    consumes:
      nats-tls:
        deployment: cf-development
        from: nats-tls
    properties:
      nats:
        tls:
          client_cert: ((/bosh/cf-development/nats_client_cert.certificate))
          client_key: ((/bosh/cf-development/nats_client_cert.private_key))
          enabled: true
      route_registrar:
        routes:
        - name: opensearch-dashboard
          port: 5601
          registration_interval: 2s
          timeout: 1s
          uris:
          - open.dev.us-gov-west-1.aws-us-gov.cloud.gov
    release: routing
  - name: bosh-dns-aliases
    properties:
      aliases:
      - domain: nats.service.cf.internal
        targets:
        - deployment: cf-development
          domain: bosh
          instance_group: nats
          network: default
          query: '*'
    release: bosh-dns-aliases
  persistent_disk: 10240
  stemcell: default
  vm_type: t3.large
  networks:
   - name: services
releases:
- name: bosh-dns-aliases
  version: latest
- name: routing
  version: latest
- name: opensearch
  version: latest
- name: bpm
  version: latest
stemcells:
- alias: default
  os: ubuntu-jammy
  version: "1.181"
update:
  canaries: 1
  canary_watch_time: 30000-600000
  max_errors: 1
  max_in_flight: 1
  serial: false
  update_watch_time: 5000-600000
variables: []
